body{
    text-align: center;
    color:#D1D2BD;
    margin-top: 80px;
    font-family: 'Orbitron', sans-serif;
    margin: 0;

}
.btn{
    padding: 7px 14px;
    background:#D1D2BD;
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;

    
}
.span{
    border-bottom: 2px solid white;
}

#logo{
    width: 160px;
    margin: none;
}
#hero{
    background-image:url("352503095galaxy-space-animation.gif") ;
     background-size: cover;
     padding: 120px 0 280px 0;
}
.head{
    color: blue;
    font-weight:bold;
}